<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="richtextaction:filldata" type="SXAModule.Services.FillData,SXAModule" />
    </commands>
	
   <settings>
        <setting name="ChatGPTRequestURL" value="https://api.openai.com/v1/completions"/>
        <setting name="ChatGPTAPIKey" value=""/>
    </settings>
	
  </sitecore>
</configuration>
